body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {

 }

main {
    flex-grow: 1;
}

.jumbo-1 {
    background-image: url(jumbo-2.jpg);
    background-position: center center;
    background-size: cover;
    height: 50vh;
}

.bg-gray-overlay {
    background-color: rgba(142, 174, 214, 0.536);
    height: 100%;
}

footer {
    height: 500px;
 }

